@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gray-100;
}

@font-face {
  font-family: "AiDeep";
  src: url('../assets/AiDeep.otf');
}

.base-y-container {
  @apply flex;
  @apply flex-col;
  @apply w-1/2;
  @apply mx-auto;
  @apply space-y-4;
  @apply pb-28;
}

.base-x-container {
  @apply flex;
  @apply justify-center;
  @apply space-x-4;
  @apply pb-28;
}

.base-box {
  @apply shadow-md;
  @apply bg-white;
  @apply rounded-lg;
  @apply p-3;
}

.base-info {
  @apply flex;
  @apply flex-col;
  @apply bg-white;
  @apply shadow-md;
  @apply rounded-lg;
  @apply p-3;
  @apply space-y-2;
}

.base-alert {
  @apply shadow-md;
  @apply rounded-md
}